.swiper-pagination-bullet {
  background-color: #000;
  opacity: 0.8;
}
.swiper-pagination-bullet-active {
  background-color: #ff6f61;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.card h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.card p {
  font-size: 1rem;
  color: #555;
}
